@use '../../../../../index' as grid;

.custom-module {
    @include grid.root((
        container: 'outer-wrapper',
        row: 'inner-wrapper',
        cols: ('aside', 'main'),
        gutter: (4px 4px),
    ));
    @include grid.constrain((
        container: 'outer-wrapper',
        container-size: 320px,
    ));
    .custom-module__main {
        @include grid.col(1 / 2);
    }

    .custom-module__aside {
        @include grid.col(1 / 4);
    }
}
