root = true

[{.*rc,.*rc.js,dreiup-settings.json,package.json,package-lock.json,.travis.yml}]
indent_style = space
indent_size = 2
insert_final_newline = false

[{package.json,package-lock.json}]
insert_final_newline = true
