@use '../../../index' as grid;

$demo-sections: (
    (id: 'ant', label: '1/12', ratio: (span 1, span 12), color: rgba(#000, 0.04)),
    (id: 'gazelle', label: '2/12', ratio: (span 2, span 12), color: rgba(#000, 0.08)),
    (id: 'snake', label: '1/8', ratio: (span 1, span 8), color: rgba(#000, 0.06)),
    (id: 'dog', label: '6/12', ratio: (span 4, span 8), color: rgba(#000, 0.14)),
    (id: 'lion', label: '3/12', ratio: (span 3, span 12), color: rgba(#000, 0.10)),
    (id: 'girafe', label: '4/12', ratio: (span 4, span 12), color: rgba(#000, 0.12)),
    (id: 'rhino', label: '6/12', ratio: (span 6, span 12), color: rgba(#000, 0.14)),
    (id: 'elephant', label: '12/12', ratio: (span 12, span 12), color: rgba(#000, 0.16)),
);


@mixin demo--add-label($ratio) {
    > .demo__block:not(.demo__block--ignore)::after {
        content: '#{$ratio}';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.demo {
    ~ .demo {
        margin-top: 5.6rem;
    }

    .demo__content {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        background-color: #f1f1f1;
    }

    .demo__block {
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(#000, 0.02);

        &.demo__block--basic {
            width: 30px;
        }
    }

    .demo__col.demo__col {
        overflow: hidden;

        @each $value in $demo-sections {
            &.demo__col--#{map-get($value, 'id')} {
                @include demo--add-label(map-get($value, 'label'));

                > .demo__block {
                    background-color: map-get($value, 'color');
                }
            }
        }

        &.demo__col-push.demo__col-push {
            @include grid.column(4, span 3);

            > .demo__block.demo__block {
                &::after {
                    content: 'push 3/12';
                }
            }
        }

        &.demo__col-pull.demo__col-pull {
            @include grid.column(7, span 3);

            > .demo__block.demo__block {
                &::after {
                    content: 'pull 3/12';
                }
            }
        }
    }
}
