h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 3.6rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 2.0rem;
}

b {
    font-weight: 700;
}

pre {
    margin-bottom: 3.0rem;
}

code, pre {
    font-family: monospace;
    font-size: 1.6rem;
}
