@use '../../../node_modules/@dreipol/scss-mq' as *;
@import '../../../index';

@import 'reset';
@import 'colors';
@import 'typography';
@import 'demo';
@import 'documentation';

@import 'grids/with-fixed-container-size';
@import 'grids/with-demo-columns';
@import 'grids/with-different-columns';
@import 'grids/with-basic-spacing';

@import 'grids/showcases/plain';
@import 'grids/showcases/fixed-container-size';
@import 'grids/showcases/column-size';
@import 'grids/showcases/basic-spacing';
@import 'grids/showcases/four-side-spacing';
@import 'grids/showcases/edge-spacing';
@import 'grids/showcases/spacing-response-to-media-queries';
@import 'grids/showcases/spanning-response-to-media-queries';
@import 'grids/showcases/nested-grids';


html {
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    background-color: transparent;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;

    @include mq('<=md') {
        font-size: 56%;
    }
}

body {
    padding: 4.2rem 0;
    background: $background-color;
}
