/* Error: Undefined mixin.
 *    ,
 * 66 |             @include grid.push((ratio: 3 / 12));
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   docs/demo/scss/_demo.scss 66:13  @import
 *   docs/demo/scss/index.scss 5:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 66 \2502              @include grid.push((ratio: 3 / 12));\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   docs/demo/scss/_demo.scss 66:13  @import\a   docs/demo/scss/index.scss 5:9    root stylesheet";
}
