.custom-module {
    @include grid--root((
        container: 'outer-wrapper',
        row: 'inner-wrapper',
        cols: ('aside', 'main'),
    ));
    @include grid--constrain((
        container: 'outer-wrapper',
        container-size: 320px,
    ));
    @include grid--space((
        container: 'outer-wrapper',
        row: 'inner-wrapper',
        cols: ('aside', 'main'),
        gutter: (4px 4px),
    ));

    .custom-module__main {
        @include grid--span((ratio: 1/2));
    }

    .custom-module__aside {
        @include grid--span((ratio: 1/4));
    }
}
